<a href="https://colab.research.google.com/github/jugalpanchal/py-pilgrim/blob/main/pd_dt_route.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

In [2]:
# 1D Array
np_array = np.random.rand(3) # type: float64
print(type(np_array))

print(np_array)

<class 'numpy.ndarray'>
[0.96187471 0.8791975  0.89348274]

In [3]:
# Pandas Series - contains labels
first_series = pd.Series(np_array) # class: Series class
print(type(first_series))

print(first_series)

<class 'pandas.core.series.Series'>
0    0.961875
1    0.879198
2    0.893483
dtype: float64

In [4]:
# Pandas Series - custom labels
second_series = pd.Series(np_array, index = ["First", "Second", "Third"])
print(type(second_series))

print(second_series)
print(second_series[1]) # apply index
print(second_series["Second"]) # apply custom index
print(second_series.index)

<class 'pandas.core.series.Series'>
First     0.961875
Second    0.879198
Third     0.893483
dtype: float64
0.8791975044842304
0.8791975044842304
Index(['First', 'Second', 'Third'], dtype='object')

In [5]:
# 2D Array
np_2d_array = np.random.rand(3, 2)
print(type(np_2d_array))

print(np_2d_array)
print(np_2d_array[2, 1])

<class 'numpy.ndarray'>
[[0.51670827 0.54208696]
 [0.67889349 0.62810142]
 [0.83279384 0.12565755]]
0.1256575543773727

In [6]:
# Pandas DataFrame - along with row and col index/label
first_df = pd.DataFrame(np_2d_array) # class: DataFrame
print(type(first_df))

print(first_df) # prints values with index
# print(first_df[2,1]) # it fails :) - KeyError: (2, 1)
print(first_df.columns)
first_df.columns = ["First", "Second"]

print(first_df)
print(first_df["Second"]) # It returns a series now.
# print(first_df[1, "second"]) # it fails :) - KeyError: (1, 'second')
print(first_df['Second'].values[1]) # the values gives a numpy array.

<class 'pandas.core.frame.DataFrame'>
          0         1
0  0.516708  0.542087
1  0.678893  0.628101
2  0.832794  0.125658
RangeIndex(start=0, stop=2, step=1)
      First    Second
0  0.516708  0.542087
1  0.678893  0.628101
2  0.832794  0.125658
0    0.542087
1    0.628101
2    0.125658
Name: Second, dtype: float64
0.6281014186605604

In [7]:
# iat, at, iloc, loc
print(first_df.iat[1, 1])
print(first_df.at[1, "Second"])
print(first_df.iloc[1])
print(first_df.iloc[1, 1])
print(first_df.iloc[1]["Second"])

0.6281014186605604
0.6281014186605604
First     0.678893
Second    0.628101
Name: 1, dtype: float64
0.6281014186605604
0.6281014186605604

In [8]:
records = [("Espresso", "5$"),
           ("Flat White", "10$")]

df2 = pd.DataFrame.from_records(records)
print(df2)

            0    1
0    Espresso   5$
1  Flat White  10$

In [9]:
df3 = pd.DataFrame.from_records(records, columns=["Coffee", "Price"])
print(df3)

       Coffee Price
0    Espresso    5$
1  Flat White   10$