<a href="https://colab.research.google.com/github/jugalpanchal/py-pilgrim/blob/main/pd_dt_route.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

In [2]:
# 1D Array
np_array = np.random.rand(3) # type: float64
print(type(np_array))

print(np_array)

<class 'numpy.ndarray'>
[0.90745422 0.65463872 0.50704665]

In [3]:
# Pandas Series - contains labels
first_series = pd.Series(np_array) # class: Series class
print(type(first_series))

print(first_series)

<class 'pandas.core.series.Series'>
0    0.907454
1    0.654639
2    0.507047
dtype: float64

In [19]:
# Pandas Series - custom labels
second_series = pd.Series(np_array, index = ["First", "Second", "Third"])
print(type(second_series))

print(second_series)
print('\n', second_series[1]) # apply index
print('\n', second_series["Second"]) # apply custom index
print('\n', second_series.index)

<class 'pandas.core.series.Series'>
First     0.907454
Second    0.654639
Third     0.507047
dtype: float64

 0.6546387212900521

 0.6546387212900521

 Index(['First', 'Second', 'Third'], dtype='object')

In [5]:
# 2D Array
np_2d_array = np.random.rand(3, 2)
print(type(np_2d_array))

print(np_2d_array)
print(np_2d_array[2, 1])

<class 'numpy.ndarray'>
[[0.81115712 0.06161662]
 [0.36099089 0.47058032]
 [0.89339633 0.13008232]]
0.13008232322940483

In [6]:
# Pandas DataFrame - along with row and col index/label
first_df = pd.DataFrame(np_2d_array) # class: DataFrame
print(type(first_df))

print(first_df) # prints values with index
# print(first_df[2,1]) # it fails :) - KeyError: (2, 1)
print(first_df.columns)
first_df.columns = ["First", "Second"]

print(first_df)
print(first_df["Second"]) # It returns a series now.
# print(first_df[1, "second"]) # it fails :) - KeyError: (1, 'second')
print(first_df['Second'].values[1]) # the values gives a numpy array.

<class 'pandas.core.frame.DataFrame'>
          0         1
0  0.811157  0.061617
1  0.360991  0.470580
2  0.893396  0.130082
RangeIndex(start=0, stop=2, step=1)
      First    Second
0  0.811157  0.061617
1  0.360991  0.470580
2  0.893396  0.130082
0    0.061617
1    0.470580
2    0.130082
Name: Second, dtype: float64
0.4705803181130338

In [15]:
# iat, at, iloc, loc
print('2nd row and 2nd col: ', first_df.iat[1, 1])
print('2nd row and 2nd col: ', first_df.at[1, "Second"])

print('\nColumns:')
print(first_df.iloc[1])

print('\n')
print('2nd row and 2nd col: ', first_df.iloc[1, 1])
print('2nd row and 2nd col: ', first_df.iloc[1]["Second"])

# loc(row index/range/Series), col index/range/Series/ColumnName) - by labels(Label is part of DataFrame, first column but it does not include in positon count)
# iloc(row index/range/Series, col index/range/Series/ColumnName) - by position(position starts with 0)

#index: 2
#range: [start:n] - n is number of data points.
#WildCard: [:] - it gives all rows/cols.
#Series: [3, 6, 8, 103]

2nd row and 2nd col:  0.4705803181130338
2nd row and 2nd col:  0.4705803181130338

Columns:
First     0.360991
Second    0.470580
Name: 1, dtype: float64


2nd row and 2nd col:  0.4705803181130338
2nd row and 2nd col:  0.4705803181130338

In [8]:
records = [("Espresso", "5$"),
           ("Flat White", "10$")]

df2 = pd.DataFrame.from_records(records)
print(df2)

            0    1
0    Espresso   5$
1  Flat White  10$

In [9]:
df3 = pd.DataFrame.from_records(records, columns=["Coffee", "Price"])
print(df3)

       Coffee Price
0    Espresso    5$
1  Flat White   10$