<a href="https://colab.research.google.com/github/jugalpanchal/py-pilgrim/blob/main/pd_io_route.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import os
import numpy as np
import pandas as pd
from IPython.display import display, HTML

In [2]:
# read a csv file - folder and file name - create a folder in colab and upload the file
CSV_FILE_PATH = os.path.join('collection-master', 'artwork_data.csv')

# read only 3 rows. it saves to load entire rows in memory
df1 = pd.read_csv(CSV_FILE_PATH, nrows=3) # it adds an addition index column.

# read only 3 rows and start col: id
# make sure first column is integer so it can replace the index column otherwise it would give an error(ValueError: Index id invalid)
df2 = pd.read_csv(CSV_FILE_PATH, nrows=3, index_col='id')

# read only 3 rows and start col: id
df3 = pd.read_csv(CSV_FILE_PATH, nrows=3, index_col='id', usecols=['id', 'artist'])

#display(df)
display(HTML(df1.to_html())) # it does not cut... the data.
display(HTML(df2.to_html()))
display(df3)

             artist
id
1035  Blake, Robert
1036  Blake, Robert
1037  Blake, Robert

In [3]:
COLS_TO_USE = ['id', 'artist', 'title', 'medium', 'year', 'acquisitionYear', 'height', 'width', 'units']
# read only 5 rows and start col: id
df4 = pd.read_csv(CSV_FILE_PATH, nrows=5, index_col='id', usecols=COLS_TO_USE)
#df4 = pd.read_csv(CSV_FILE_PATH, index_col='id')

# display(HTML(df4.to_html()))

In [4]:
PICKLE_FILE_PATH = os.path.join('collection-master', 'artwork_df.pickle') # pickle or pkl

# save the filer or transform dataset into a serialized file(python native format). that is a pickle format.
# it can be used to de-serialized into a dataframe again later.
df4.to_pickle(PICKLE_FILE_PATH) # default compression type is infer.

# read the pickle file
df5 = pd.read_pickle(PICKLE_FILE_PATH)
display(df5)

              artist  ... units
id                    ...
1035   Blake, Robert  ...    mm
1036   Blake, Robert  ...    mm
1037   Blake, Robert  ...    mm
1038   Blake, Robert  ...    mm
1039  Blake, William  ...    mm

[5 rows x 8 columns]

In [5]:
# compress and decompression a pickle file - default is infer.
# DataFrame.to_pickle(self, path, compression='infer', protocol=4)
# compression = {‘infer’, ‘gzip’, ‘bz2’, ‘zip’, ‘xz’, None} 

PICKLE_COM_FILE_PATH = os.path.join('collection-master', 'artwork_df.xz')

df4.to_pickle(PICKLE_COM_FILE_PATH, compression='xz')
df6 = pd.read_pickle(PICKLE_COM_FILE_PATH, compression='xz')

display(df6)

# comparision of compression types
# infer   = 8.5 MB
# gzip    = 877 KB
# bz2     = 646 KB
# zip     = 892 KB
# xz      = 567 KB

              artist  ... units
id                    ...
1035   Blake, Robert  ...    mm
1036   Blake, Robert  ...    mm
1037   Blake, Robert  ...    mm
1038   Blake, Robert  ...    mm
1039  Blake, William  ...    mm

[5 rows x 8 columns]

###Unique DataSet

In [6]:
df7 = pd.read_pickle(PICKLE_FILE_PATH)

df7.artist # not a recommmendate way to get a value of data point
df7['artist'] # recommendate way

# unique artists
artists = df7['artist']
print(artists)
uni_artists = pd.unique(artists)
print(uni_artists)
print(len(artists))
print(len(uni_artists))

id
1035     Blake, Robert
1036     Blake, Robert
1037     Blake, Robert
1038     Blake, Robert
1039    Blake, William
Name: artist, dtype: object
['Blake, Robert' 'Blake, William']
5
2

### Filter DataSet

In [7]:
df8 = pd.read_pickle(PICKLE_FILE_PATH)

# way1: find True and False
df9 = df8['artist'] == 'Blake, Robert' # returns a Series
print(df9)
print(df9.value_counts()) # True 4, False 1

#way2: find True only
df10 = df8['artist'].value_counts()
print('True Count:', df10['Blake, Robert'])

id
1035     True
1036     True
1037     True
1038     True
1039    False
Name: artist, dtype: bool
True     4
False    1
Name: artist, dtype: int64
True Count: 4

###Indexing DataSet

In [8]:
# iat, at, iloc, loc
# https://github.com/jugalpanchal/py-pilgrim/blob/main/pd_dt_route.ipynb