<a href="https://colab.research.google.com/github/jugalpanchal/py-pilgrim/blob/main/pd_io_route.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import os
import numpy as np
import pandas as pd
from IPython.display import display, HTML

In [2]:
# read a csv file - folder and file name - create a folder in colab and upload the file
CSV_FILE_PATH = os.path.join('collection-master', 'artwork_data.csv')

# read only 3 rows. it saves to load entire rows in memory
df1 = pd.read_csv(CSV_FILE_PATH, nrows=3) # it adds an addition index column.

# read only 3 rows and start col: id
# make sure first column is integer so it can replace the index column otherwise it would give an error(ValueError: Index id invalid)
df2 = pd.read_csv(CSV_FILE_PATH, nrows=3, index_col='id')

# read only 3 rows and start col: id
df3 = pd.read_csv(CSV_FILE_PATH, nrows=3, index_col='id', usecols=['id', 'artist'])

#display(df)
display(HTML(df1.to_html())) # it does not cut... the data.
display(HTML(df2.to_html()))
display(df3)

             artist
id
1035  Blake, Robert
1036  Blake, Robert
1037  Blake, Robert

In [3]:
COLS_TO_USE = ['id', 'artist', 'title', 'medium', 'year', 'acquisitionYear', 'height', 'width', 'units']
# read only 5 rows and start col: id
df4 = pd.read_csv(CSV_FILE_PATH, nrows=5, index_col='id', usecols=COLS_TO_USE)

display(HTML(df4.to_html()))

In [4]:
PICKLE_FILE_PATH = os.path.join('collection-master', 'artwork_df.pickle')

# save the filer or transform dataset into a serialized file(python native format). that is a pickle format.
# it can be used to de-serialized into a dataframe again later.
df4.to_pickle(PICKLE_FILE_PATH)

In [5]:
# read pickle file
df5 = pd.read_pickle(PICKLE_FILE_PATH)
display(df5)

              artist  ... units
id                    ...
1035   Blake, Robert  ...    mm
1036   Blake, Robert  ...    mm
1037   Blake, Robert  ...    mm
1038   Blake, Robert  ...    mm
1039  Blake, William  ...    mm

[5 rows x 8 columns]