<a href="https://colab.research.google.com/github/jugalpanchal/py-pilgrim/blob/main/pd_sqlite_route.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import sqlite3

In [2]:
# https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_sql.html#pandas.read_sql

conn = sqlite3.connect(':in_memory_db:')
pd.DataFrame(np.random.rand(4,3)).to_sql('random_metrix_tbl', conn)

In [3]:
pd.read_sql('select * from random_metrix', conn)

   index         0         1         2
0      0  0.918626  0.209759  0.044868
1      1  0.096079  0.398098  0.805083
2      2  0.138420  0.559080  0.067298