<a href="https://colab.research.google.com/github/jugalpanchal/py-pilgrim/blob/main/warmup_route.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Guidelines

In [1]:
# REPL: Read, Evaluate, Print and Loop - Notebook(Colab, Jupyter, SageMaker etc) is like REPL.
# Indentation: 4 or 2 spaces recommended in PEP 8, don't use tabs.
# Code block: Same indent level represents the same block.

Multiline

In [2]:
message = 'This is a line.'
message

'This is a line.'

In [3]:
message = 'This is a \
line'
message

'This is a line'

Truthy and Falsy

In [4]:
# 0 is considered False and 1 is True
tmp_list = []
len(tmp_list) # 0
len(tmp_list) == False

True

In [5]:
True == 1 # True
True == 0 # False
True == -1 # False

False

Format

In [6]:
tmp_var = "a learning path"

#SyntaxError: Missing parentheses in call to 'print'. Did you mean print("This is %s" % tmp_var)?
#print "This is %s" % tmp_var

print("This is %s" % tmp_var) # This is a learning path
print("This is", tmp_var)     # This is a learning path

print("This is %s, This is %s" % ("first", "second")) # This is first, This is second

print("Int value %d" % 3.14)
print("Decimal value %f" % 3.14)

This is a learning path
This is a learning path
This is first, This is second
Int value 3
Decimal value 3.140000

Associate and Commutative

In [7]:
print(10 * 100 * 1000)
print((10 * 100) * 1000)
print(10 * (100 * 1000))

print("")

print(10 - 100 - 1000)
print((10 - 100) - 1000)
print(10 - (100 - 1000))

1000000
1000000
1000000

-1090
-1090
910

Tuples, Lists, Sets, Dictionary

In [8]:
# Tuples is like the List but we cannot change its value. It's immutable.
tuple1 = ('jugal', 1)
print(tuple1)
print(tuple1[0])
print(tuple1[1])

print("")

tuple2 = ('jugal', 1, 'panchal') # we can have as much items we want.
print(tuple2)
print(tuple2[0])
print(tuple2[1])
print(tuple2[2])

# TypeError: 'tuple' object does not support item assignment
#tuple2[1] = 3

('jugal', 1)
jugal
1

('jugal', 1, 'panchal')
jugal
1
panchal

In [9]:
# Lists is mutable, sequential and contains items of any type. 
list1 = [1, 'jugal', '48188']
print(list1)

list1 = list1 + ['Cocklate', 'Cake']
print(list1)

[1, 'jugal', '48188']
[1, 'jugal', '48188', 'Cocklate', 'Cake']

In [10]:
# Sets: It cannot have duplicate items.
set1 = {2, 5, 6, 6, 8, 9, 5, 8}
set1

{2, 5, 6, 8, 9}

In [11]:
#Dictionary: the key must be unique otherwise it would replace the value.

dict1 = {'key1': 'value1', 'key2': 'value2'}
print(dict1['key2'])

value2

In [12]:
# Immutable: int, float, long, complex, str, tuple, Boolean, array
# Mutable: byte array, list, set, dict

# Let's confirm

number1 = 5
print(id(number1))
print(id(number1))

number1 = number1 + 3 # creating a new number and assigning to the variable
print(id(number1))

print("")

list1 = [3, 6]
print(id(list1))
list1 = list1 + [4, 7]
print(id(list1)) # because we have created new list and assiging to the variable.

print("")

list1.append(3)
print(id(list1)) # It is not changing now.

94262734305920
94262734305920
94262734306016

140357032286960
140357032287200

140357032287200

Map, Reduce, Filter

In [13]:
def add_one(this_item):
  return this_item + 1

list1 = [1, 2, 3, 4, 5]
list2 = map(add_one, list1)

print(list1)

print(list2)
#convert the map into a list, for readability:
print(list(list2))

print("")

list3 = map(lambda x: x + 1, list1)
print(list(list3))

list4 = map(lambda x: x if x % 2 == 0 else None, list1)
print(list(list4))

[1, 2, 3, 4, 5]
<map object at 0x7fa76b0b5750>
[2, 3, 4, 5, 6]

[2, 3, 4, 5, 6]
[None, 2, None, 4, None]

In [14]:
def len_cal(this_item):
  return len(this_item)

list1 = map(len_cal, ('apple', 'banana', 'cherry'))

print(list1)

#convert the map into a list, for readability:
print(list(list1))

<map object at 0x7fa76b0b45d0>
[5, 6, 6]

In [15]:
def is_even(this_item):
  return this_item % 2 == 0

list1 = [1, 2, 3, 4, 5]
list2 = filter(is_even, list1)

print(list(list2))

[2, 4]

In [16]:
import functools as f

def add_items(first, second):
  return first + second

list1 = [1, 2, 3, 4, 5]
list2 = f.reduce(add_items, list1)

print(list2)

15