<a href="https://colab.research.google.com/github/jugalpanchal/py-pilgrim/blob/main/warmup_route.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Multiline

In [1]:
message = 'This is a line.'
message

'This is a line.'

In [2]:
message = 'This is a \
line'
message

'This is a line'

Truthy and Falsy

In [3]:
# 0 is considered False and 1 is True
tmp_list = []
len(tmp_list) # 0
len(tmp_list) == False

True

In [4]:
True == 1 # True
True == 0 # False
True == -1 # False

False

Format

In [5]:
tmp_var = "a learning path"

#SyntaxError: Missing parentheses in call to 'print'. Did you mean print("This is %s" % tmp_var)?
#print "This is %s" % tmp_var

print("This is %s" % tmp_var) # This is a learning path
print("This is", tmp_var)     # This is a learning path

print("This is %s, This is %s" % ("first", "second")) # This is first, This is second

print("Int value %d" % 3.14)
print("Decimal value %f" % 3.14)

This is a learning path
This is a learning path
This is first, This is second
Int value 3
Decimal value 3.140000

Associate and Commutative

In [6]:
print(10 * 100 * 1000)
print((10 * 100) * 1000)
print(10 * (100 * 1000))

print("")

print(10 - 100 - 1000)
print((10 - 100) - 1000)
print(10 - (100 - 1000))

1000000
1000000
1000000

-1090
-1090
910

Tuples, Lists, Sets, Dictionary

In [7]:
# Tuples is like the List but we cannot change its value. It's immutable.
tuple1 = ('jugal', 1)
print(tuple1)
print(tuple1[0])
print(tuple1[1])

print("")

tuple2 = ('jugal', 1, 'panchal') # we can have as much items we want.
print(tuple2)
print(tuple2[0])
print(tuple2[1])
print(tuple2[2])

# TypeError: 'tuple' object does not support item assignment
#tuple2[1] = 3

('jugal', 1)
jugal
1

('jugal', 1, 'panchal')
jugal
1
panchal

In [8]:
# Lists is mutable, sequential and contains items of any type. 
list1 = [1, 'jugal', '48188']
print(list1)

list1 = list1 + ['Cocklate', 'Cake']
print(list1)

[1, 'jugal', '48188']
[1, 'jugal', '48188', 'Cocklate', 'Cake']

In [9]:
# Sets: It cannot have duplicate items.
set1 = {2, 5, 6, 6, 8, 9, 5, 8}
set1

{2, 5, 6, 8, 9}

In [10]:
#Dictionary: the key must be unique otherwise it would replace the value.

dict1 = {'key1': 'value1', 'key2': 'value2'}
print(dict1['key2'])

value2

In [11]:
# Immutable: int, float, long, complex, str, tuple, Boolean, array
# Mutable: byte array, list, set, dict

# Let's confirm

number1 = 5
print(id(number1))
print(id(number1))

number1 = number1 + 3 # creating a new number and assigning to the variable
print(id(number1))

print("")

list1 = [3, 6]
print(id(list1))
list1 = list1 + [4, 7]
print(id(list1)) # because we have created new list and assiging to the variable.

print("")

list1.append(3)
print(id(list1)) # It is not changing now.

94160580061824
94160580061824
94160580061920

139718962456208
139718962456448

139718962456448